allow-scripts[]=prisma
allow-scripts[]=@prisma/client
allow-scripts[]=@prisma/engines
allow-scripts[]=@prisma/engines-version
allow-scripts[]=@prisma/fetch-engine
allow-scripts[]=@prisma/client-runtime-utils
allow-scripts[]=esbuild
allow-scripts[]=@tailwindcss/oxide
allow-scripts[]=sharp
allow-scripts[]=next
allow-scripts[]=core-js
allow-scripts[]=unrs-resolver
allow-scripts[]=@parcel/watcher
allow-scripts[]=@anthropic-ai/claude-code